*{
    font-family: "Tagesschrift", system-ui;
    margin: 0;
    padding: 0;
    font-size: large;
    box-sizing: border-box;

    --color-accent:rgb(220, 239, 251);
    

}body{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-image: url("../images/R.jpeg");
    background-position: contain;
    background-size: cover;
    background-repeat: no-repeat;
}
#user{
    width: 5rem;
    aspect-ratio: 1/1;
}
form{
    
    background-color: var(--color-accent);
    width: 100%;
    height: max-content;

    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow:0 0 10px var(--color-accent);
    border-radius: 10px 40px;

    

}.google{
    width: 2rem;
}.github{
    width: 2rem;
}.links{
    display: flex;
    margin-top: 15px;


}
#user{

    border-radius: 50%;
    border: 2px solid blue;
}
.login{
    font-size: 2rem;
    margin-bottom: 15px;
}
#username{

    border: none;
    outline:none ;
    background-color: var(--color-accent);
    border-bottom: 2px solid blue;

    margin-top: 10px;
    margin-bottom: 25px;
}#password{

     border: none;
    outline:none ;
    background-color: var(--color-accent);
    border-bottom: 2px solid blue;
    margin-top: 10px;

}.buttons{

    display: flex;
    justify-content: space-between;
    width: 100%;  
}
#btnlogin{

    
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    color:blue;
    background-color: var(--color-accent);
    font-size:1.2rem;
}
#btnreset{

    
     margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    color:rgb(255, 0, 0);
    background-color: var(--color-accent);
    font-size:1.2rem;
}#btnlogin:hover{

    transition: all ease 1000ms;
    background-color:blue;
    color: aliceblue;
    width: 8rem;
    border-radius: 10px 20px;
    

}#btnreset:hover{

    transition: all ease 1000ms;
    background-color:rgb(255, 0, 0);
    color: aliceblue;
    width: 8rem;
    border-radius: 10px 20px;

}.signup{

    margin-bottom: 20px;
}.links{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
}
/*-----------------Custom radio button-----------------*/

.customradiobtn{

    display: flex;
    flex-direction: row;

    
    width: 100%;
    position: relative;
    margin-top: 10px;
    

}
.customradiobtn .checkmark{

    border: 2px solid black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
   
    
    top: -5px;
    left: -5px;

    cursor: pointer;
   
    margin-right: 10px;
    
    
    
}.customradiobtn input{
    

    position: absolute;
    cursor: pointer;
    opacity: 0;
}
.customradiobtn input:hover ~ .checkmark{

    background-color: darkgray;
}
.customradiobtn input:checked ~ .checkmark{

    background-color: blue;
}
.checkmark:after{

    content: "";
    position: absolute;
    display: none;

}.customradiobtn .checkmark:after{

    content: "";
    width: 25px;
    height: 25px;
    color: white;
    top: -4.5px;
    left: 4.5px;
}
.customradiobtn input:checked ~ .checkmark:after{

    display:block
}
